@use '../abstract/' as *;

// used to calculate the height of the main element in _root.scss
$height: 100px; // need to be fixed size!

.navbar {
	display: flex;
	width: 100%;
	padding-block: 1rem;
	justify-content: flex-end;

	nav {
		padding-inline: 3rem;

		menu {
			display: flex;
			gap: 1rem;

			li {
				list-style: none;
				font-size: 1.125rem;
				cursor: pointer;

				a {
					text-decoration: none;

					&.active {
						color: $clr-primary-400;
					}
				}
			}
		}
	}
}
